html, body {
  min-height: 100vh;
  font-size: 18px;
}

html, body, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #145374;
}

.landing__title {
  display: block;
  text-align: center;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  color: #ee6f57;
}

.landing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 264px;
  height: 459px;
  left: calc(50% - 364px/2 - 468px);
  top: calc(50% - 559px/2 - 12.5px);
  background: #00334e;
  -webkit-box-shadow: 12px 15px 21px rgba(0, 0, 0, 0.25);
          box-shadow: 12px 15px 21px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
}

.card p {
  text-align: center;
  color: #f6f5f5;
  font-size: 3.5rem;
}

.card a {
  text-decoration: none;
  background: #ee6f57;
  color: white;
  border-radius: 22px;
  font-size: 3.8rem;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: .5rem 1.5rem;
}

.card a:hover {
  color: #ee6f57;
  background-color: #145374;
}

@media (max-width: 1000px) {
  html, body {
    font-size: 14px;
  }
  .card {
    width: 224px;
    height: 419px;
  }
  .card a {
    border-radius: 15px;
  }
}

@media (max-width: 800px) {
  html, body {
    font-size: 11px;
  }
  .card {
    width: 184px;
    height: 299px;
    border-radius: 15px;
  }
  .card p {
    font-size: 2.5rem;
  }
  .card a {
    font-size: 3em;
  }
}

@media (max-width: 600px) {
  html, body {
    font-size: 12px;
  }
  .landing {
    margin-top: 10px;
  }
  .landing__title {
    margin-bottom: 25px;
  }
  .landing__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    width: 90vw;
    height: 275px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .card p {
    font-size: 3rem;
  }
  .card a {
    font-size: 4em;
    padding: .5rem 3.5rem;
  }
}

#game-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00334e;
}

#board__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#game-grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (125px)[3];
      grid-template-columns: repeat(3, 125px);
  -ms-grid-rows: (125px)[3];
      grid-template-rows: repeat(3, 125px);
}

#game-grid div {
  color: #ee6f57;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#center {
  outline: 5px solid #145374;
}

#top-left {
  border-right: 5px solid #145374;
  border-bottom: 5px solid #145374;
}

#top-right {
  border-left: 5px solid #145374;
  border-bottom: 5px solid #145374;
}

#bottom-left {
  border-right: 5px solid #145374;
  border-top: 5px solid #145374;
}

#bottom-right {
  border-top: 5px solid #145374;
  border-left: 5px solid #145374;
}

.title {
  text-align: center;
  display: block;
  font-size: 50px;
  color: #ee6f57;
}

.subtitle {
  color: #f6f5f5;
  font-size: 30px;
  text-align: center;
}

.ghost {
  color: rgba(238, 112, 87, 0.5);
}

#picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  cursor: pointer;
  color: #ee6f57;
  background: none;
  padding: .1em .4em;
  border: none;
  font-size: 50px;
}

button:hover {
  color: #f6f5f5;
}

#end-game {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  place-items: center;
  font-size: 50px;
  position: fixed;
  top: 0;
}

#end-game > div {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#end-game > div p {
  color: #f6f5f5;
}

#end-game > div button {
  font-size: 35px;
  margin-top: 25px;
  color: #f6f5f5;
  background: #145374;
  border: none;
  padding: .3em .7em;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: background 100ms linear, color 100ms linear, -webkit-transform 20ms linear;
  transition: background 100ms linear, color 100ms linear, -webkit-transform 20ms linear;
  transition: transform 20ms linear, background 100ms linear, color 100ms linear;
  transition: transform 20ms linear, background 100ms linear, color 100ms linear, -webkit-transform 20ms linear;
}

#end-game > div button:hover {
  color: #00334e;
  background: #ee6f57;
}

#end-game > div button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#chatbox {
  position: relative;
  height: 80vh;
  overflow-y: scroll;
  max-width: 350px;
  min-height: 100%;
  background: #145374;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#chatbox #messages {
  min-height: 100%;
}

#chatbox #messages * {
  font-size: 2rem;
}

#chatbox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#chatbox form input, #chatbox form input[type="submit"] {
  font-size: 1.5rem;
  height: 40px;
}

#chatbox form input {
  width: 70%;
}

#chatbox form input[type="submit"] {
  border: none;
  color: #ee6f57;
  -webkit-transition: color 110ms linear;
  transition: color 110ms linear;
  width: 30%;
  background: #00334e;
}

#chatbox form input[type="submit"]:hover {
  color: #f6f5f5;
}

.message {
  color: #f6f5f5;
}

.you {
  color: #ee6f57;
}

.message {
  font-size: 1.3rem;
}

@media (max-width: 800px) {
  html, body {
    font-size: 18px;
  }
  #board {
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #game-board {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #chatbox {
    margin-top: 50px;
    max-width: 90vw;
    width: 90vw;
  }
}
